.about {
  padding: 8em 2em 2em 2em;
  background: $off-white;
  // background: linear-gradient(to bottom, $bg-soft-blue 0%, $off-white 50%);
  color: $off-black;

  div {
    max-width: 768px;
    line-height: 1.5;
  }
}

.about__description {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 0 0 .2em 0;
  }
}

.about__description-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  img {
    margin: 1em;
    max-height: 50vh;
  }
}

.about__tools {
  display: none;
}

@media (min-width: 480px) {
  .about__tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;

    h3 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.5em;
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    li {
      padding: 0.2em;
      margin: 0.2em;
      display: flex;
      justify-content: center;
      flex: 1;
      font-size: 3em;
    }
  }
}

@media (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__description {
    align-items: flex-start;

    h2 {
      font-size: 4em;
    }
  }

  .about__description-top {
    flex-wrap: nowrap;

    img {
      // max-width: 200px;
      max-height: 40vh;
    }
  }

  .about__tools li {
    padding: 0;
    font-size: 5em;
  }
}