.footer {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $bg-grey;
  color: $text-grey;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0em;
  min-width: 320px;

  h2 {
    margin: 0;
    padding: 0.2em 0;
    color: $off-white;
  }

  p {
    margin: 0;
    padding: 0.2em 0;
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;

  & > a {
    font-weight: lighter;
    color: $off-white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-bottom: 1px solid $text-grey;
    transition: 0.3s;
    position: relative;
  }
}

.footer__link-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer__link {
  margin: 0 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  color: $text-grey;
  transition: 0.3s;
  cursor: pointer;
}

.footer__link-header {
  margin: 0;
  text-decoration: none;
  font-size: 1.5em;
  color: $text-grey;
  transition: 0.3s;
  cursor: pointer;
}

.to-top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // bottom: 13em;
  padding: 0;
  margin: 0;
}

.rocket {
  transform: rotateZ(-45deg);

  a {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    color: $text-grey;
    transition: 0.3s;
    cursor: pointer;
  }
}

.rocket-fire {
  visibility: hidden;
}

@media (min-width: 768px) {
  .footer-left {
    font-size: 1.2em;
  }

  .footer-right {
    // font-size: 1.5em;
    justify-content: center;
    align-items: center;
  }
  
  .footer-right > a:hover {
    color: $soft-salmon;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
  }

  .footer__link:hover {
    color: $soft-salmon;
    transition: 0.3s;
  }

  .footer__link-header:hover {
    color: $soft-salmon;
    transition: 0.3s;
  }

  .to-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // bottom: 8em;
    transition: 0.3s;

    &:hover {
      .rocket a {
        color: $soft-salmon;
        transition: 0.3s;
      }
      .rocket-fire {
        visibility: visible;
        transform: rotateZ(180deg);
        color: $soft-salmon;
        transition: 0.3s;
      }
    }
  }
  
  .rocket {
    transform: rotateZ(-45deg);
  }
}