.footer {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $bg-grey;
  color: $text-grey;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  min-width: 320px;

  h2 {
    margin: 0;
    padding: 0.2em 0;
    color: $off-white;
  }

  p {
    margin: 0;
    padding: 0.2em 0;
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;

  & > a {
    font-weight: lighter;
    color: $off-white;
    text-decoration: none;
    padding: 0.2em 1em;
    border-bottom: 1px solid $text-grey;
    transition: 0.3s;
  }
}

.footer__link-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer__link {
  margin: 0 0.5em;
  font-size: 1.5em;
  color: $text-grey;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-left {
    align-items: flex-start;
  }

  .footer-right {
    justify-content: center;
    align-items: center;
  }
  
  .footer-right > a:hover {
    color: $soft-salmon;
    border-bottom: 1px solid $soft-salmon;
    transition: 0.3s;
  }

  .footer__link:hover {
    color: $soft-salmon;
    transition: 0.3s;
  }
}