.work {
  padding: 6em 2em 2em 2em;
  background: $bg-soft-green;
  color: $off-black;

  h2 {
    margin: 1em 0;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {
    font-weight: lighter;
    font-size: 2.5em;
  }

  h3, p {
    margin: 0.2em;
  }
}

.project__links {
  display: flex;
  align-items: center;
  font-size: 3em;

  a {
    text-decoration: none;
    font-size: 1rem;
    margin: 0 1.5em;
    color: $off-black;
    transition: 0.3s;
  }
}

@media (min-width: 468px) {
  .work h2 {
    margin: 1em 2em;
  }

  .project img {
    width: 468px;
  }

  .project__links a:hover {
    color: lighten($off-black, 20%);
    text-decoration: underline;
    transition: 0.3s;
  }
}