.work {
  padding: 4em 2em;
  background: $bg-soft-green;
  // background: linear-gradient(to bottom, $off-white 0%, $bg-soft-green 50%);
  color: $off-black;

  h2 {
    margin: 1em 0;
  }
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 1em;
  align-items: center;
  text-align: center;

  h3 {
    font-weight: lighter;
    font-size: 2.5em;
  }

  h3, p {
    margin: 0.2em;
  }

  p {
    max-width: 768px;
  }
}

.project__links {
  display: flex;
  align-items: center;
  font-size: 3em;

  a {
    text-decoration: none;
    font-size: 1rem;
    margin: 0 1.5em;
    color: $off-black;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    position: relative;
  }
}

@media (min-width: 480px) {
  .work h2 {
    margin: 1em 2em;
  }

  .project {
    justify-content: flex-start;
  }

  .project img {
    width: 468px;
    height: 320px;
  }

  .project__links a:hover {
    color: $soft-salmon;
    // border-bottom: 1px solid $soft-salmon;
    transition: 0.3s;
  }
}