.navbar {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 4em;
  width: 100vw;
  position: fixed;
  background: $bg-soft-blue;
  background: $off-white;
  box-shadow: 0 1px 1px rgba(10, 10, 10, .1);
}

.navbar__logo {
  border-radius: 100%;
  padding: .5em .25em;
  text-decoration: none;
  background: $soft-salmon;
  color: $off-white;
  font-size: 1.5em;
  transition: 0.3s;

  &:hover {
    background: darken($soft-salmon, 10%);
    transition: 0.3s;
  }
}

.navbar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1em;
  margin: 0;
}

.navbar__link {  
  padding: 0.2em 0;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    padding: 1em 0;
    margin: 0 1em;
    color: $off-black;
    transition: 0.3s;
    position: relative;
  }
}

@media (min-width: 480px) {
  .navbar__list {
    flex-direction: row;
  }

  .navbar {
    padding: .25em 4em;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: .25em 4em;
  }

  .navbar__list {
    flex-direction: row;
  }

  .navbar__link {  
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1em;
      padding: 0;
      margin: 0 1em;
      color: $off-black;
      transition: 0.3s;
      position: relative;
    }
  
    a:hover {
      // color: lighten($off-black, 20%);
      // border-bottom: 1px solid lighten($off-black, 20%);
      color: $soft-salmon;
      transition: 0.3s;
    }
  }
}